{% load static %}
<!-- Navbar -->
{#<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
{#<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #222242;">#}

    <div class="container">
<!--        <a class="navbar-brand" href="{% url 'index' %}">-->
<!--            <img src="{% static '/img/splash.png' %}" class="d-inline-block align-top" style="height: 40px;">-->
<!--        </a>-->
        <span class="navbar-brand" href="/">SPLASH</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" aria-current="page"
                        {% if '/' == request.path %}
                           class="nav-link active"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}"
                        {% if '/about' in request.path %}
                            class="nav-link active"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >About</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listings' %}"
                        {% if '/listings' in request.path %}
                            class="nav-link active"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >Listings</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}"
                            {% if 'dashboards' in request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}
                        >{{ user.first_name }} (Dashboard)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}"
                            {% if 'register' in request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}
                        ><i class="fas fa-user-plus"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


