{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">
                        {{ listing.selling | intcomma }} {{ listing.selling_currency }}
                        <i class="fas fa-angle-double-right"></i>
                        {{ listing.buying | intcomma }} {{ listing.buying_currency }}
                    </h1>
                    <p class="lead">
                        <i class="fas fa-clock"></i> Created: {{ listing.created | timesince }} ago
                    </p>
                    <p class="lead">
                        <i class="fas fa-user"></i> {{ listing.user.username }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Listings</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{ listing.selling | intcomma }} {{ listing.selling_currency }}
                        <i class="fas fa-angle-double-right"></i>
                        {{ listing.buying | intcomma }} {{ listing.buying_currency }}
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    {% include 'partials/_alerts.html' %}



    {#    <section id="listing" class="py-4">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {##}
    {#                <div class="col text-center text-muted"></div>#}
    {#                <div class="col text-center text-muted">seller</div>#}
    {#                <div class="col text-center"></div>#}
    {#                <div class="col text-center text-muted">buyer</div>#}
    {#                <div class="col text-center"></div>#}
    {#                <div class="w-100"></div>#}
    {#                <div class="col text-center rounded-left bg-primary progress-bar progress-bar-striped progress-bar-animated">Listed</div>#}
    {#                <div class="col text-center bg-primary progress-bar progress-bar-striped progress-bar-animated">Money received</div>#}
    {#                <div class="col text-center bg-light text-muted progress-bar progress-bar-striped progress-bar-animated">Awaiting buyer</div>#}
    {#                <div class="col text-center bg-light text-muted progress-bar progress-bar-striped progress-bar-animated">Awaiting money</div>#}
    {#                <div class="col text-center bg-light text-muted rounded-right bg-primary progress-bar progress-bar-striped progress-bar-animated">Exchanged</div>#}
    {##}
    {##}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    {#    <section id="progress" class="py-4">#}
    {##}
    {#        <div class="container">#}
    {#            <h5 class='text-secondary text-center'>Status (selling)</h5>#}
    {#            <br>#}
    {#            <div class="progress" style="height: 20px;">#}
    {#                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"#}
    {#                     style="width: 33%" aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Listed#}
    {#                </div>#}
    {#                <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 33%"#}
    {#                     aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Money received#}
    {#                </div>#}
    {#                <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 34%"#}
    {#                     aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Exchanged#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}


    {#    <section id="progress" class="py-4">#}
    {##}
    {#        <div class="container">#}
    {#            <h5 class='text-secondary text-center'>Status (buying)</h5>#}
    {#            <br>#}
    {#            <div class="progress" style="height: 20px;">#}
    {#                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"#}
    {#                     style="width: 33%" aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Awaiting buyer#}
    {#                </div>#}
    {#                <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 33%"#}
    {#                     aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Money received#}
    {#                </div>#}
    {#                <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 34%"#}
    {#                     aria-valuenow="25"#}
    {#                     aria-valuemin="0" aria-valuemax="100">Exchanged#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section id="progress" class="py-4">

        <div class="container">
            <h5 class='text-primary'>Exchange status</h5>
            {#            <br>#}
            <div class="progress" style="height: 20px;">
                {% if listing.is_published %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 20%" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">Listed
                    </div>
                {% else %}
                    <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Awaiting money (seller)

                    </div>
                {% endif %}
                {% if listing.is_seller_deposited %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Money received (seller)

                    </div>
                {% else %}
                    <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Awaiting money (seller)

                    </div>
                {% endif %}

                {% if grabbed_by %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Grabbed

                    </div>
                {% else %}
                    <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">Awaiting buyer
                    </div>
                {% endif %}

                {% if listing.is_buyer_deposited %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Money received (buyer)

                    </div>
                {% else %}
                    <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Awaiting money (buyer)

                    </div>
                {% endif %}

                {% if listing.is_completed %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">
                        Exchanged

                    </div>
                {% else %}
                    <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 20%"
                         aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">Exchanged
                    </div>
                {% endif %}


            </div>
        </div>
    </section>


    <!-- Listing -->
    <section id="listing" class="py-4">
        <div class="container">
            {#            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Back To Listings</a>#}


            <div class="row d-flex justify-content-between">
                <h6 class="text-primary">Listing ID: {{ listing.id }} </h6>

                {% if user == listing.user %}
{#                    <h6 class="text-primary"><span class="badge badge-primary">This is your own listing</span></h6>#}
                    <h6 class="text-primary">This is your own listing</h6>
                {% endif %}
            </div>


            <div class="row">

                <div class="card">
                    <h5 class="card-header d-flex flex-row justify-content-between">

                    <div>Listing ID: {{ listing.id }}</div>
                    {% if user == listing.user and not grabbed_by %}
                        <div>This is your own listing</div>
{#                            <p>This is your own listing</p>#}
                        <div>
                            <a href="{% url 'update_listing' listing.id 'detail_listing' %}" class="btn btn-primary btn-sm ml-4" >Edit Listing</a>
                            <a href="{% url 'delete_listing' listing.id %}" class="btn btn-danger btn-sm ml-4">Delete Listing</a>
                        </div>{% endif %}

                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.selling | intcomma }} {{ listing.selling_currency }}
                            <i class="fas fa-angle-double-right"></i>
    {#                        <i class="flag flag-india"></i>#}
                            {{ listing.buying | intcomma }} {{ listing.buying_currency }}
                        </h5>
                        <p class="card-text">
                        <div class="row flex-column">
                            <div class="col-md-12">

                                <!-- Fields -->
                                <div class="row mb-5 fields ">
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item text-secondary">
                                                {% if user == listing.user %}
                                                    <i class="fas fa-money-bill-alt"></i> Selling:
                                                    <span class="float-right">{{ listing.selling | intcomma }} {{ listing.selling_currency }}</span>
                                                {% else %}
                                                    <i class="fas fa-money-bill-alt"></i> Buying:
                                                    <span class="float-right">{{ listing.buying | intcomma }} {{ listing.buying_currency }}</span>
                                                {% endif %}
                                            </li>


                                            <li class="list-group-item text-secondary">
                                                {% if user == listing.user %}
                                                    <i class="fas fa-bed"></i> Fee:
                                                    <span class="float-right">{{ listing.service_fee_sell | intcomma }} {{ listing.selling_currency }}</span>
                                                {% else %}
                                                    <i class="fas fa-bed"></i> Fee:
                                                    <span class="float-right">{{ listing.service_fee_buy | intcomma }} {{ listing.buying_currency }}</span>
                                                {% endif %}
                                            </li>

                                            <li class="list-group-item text-secondary">
                                                {% if user == listing.user %}
                                                    <h5><i class="fas fa-square"></i> You need to pay:
                                                    <span class="float-right badge badge-dark badge-pill">{{ listing.seller_to_pay | intcomma }} {{ listing.selling_currency }}</span></h5>
                                                {% else %}
                                                    <h5><i class="fas fa-square"></i> You need to pay:
                                                    <span class="float-right badge badge-dark badge-pill">{{ listing.buyer_to_pay | intcomma }} {{ listing.buying_currency }}</span></h5>
                                                {% endif %}
                                            </li>

                                            <li class="list-group-item text-secondary">
                                                <i class="fas fa-car"></i> Conversion rate:
                                                <span class="float-right">1 {{ listing.selling_currency }} = {{ rate|floatformat:3|intcomma }} {{ listing.buying_currency }}</span>
                                            </li>
                                            <li class="list-group-item text-secondary">
                                                <i class="fas fa-bed"></i> Status:
                                                <span class="float-right">{{ listing.seller_deposited }}</span>
                                            </li>

                                            {#                                <li class="list-group-item text-secondary">#}
                                            {#                                    <i class="fas fa-calendar"></i> Listing Date:#}
                                            {#                                    <span class="float-right">{{ listing.created | naturalday }}</span>#}
                                            {#                                </li>#}


                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-secondary">
{#                                                <i class="fas fa-th-large"></i> Buying:#}
{#                                                <span class="float-right">{{ listing.buying | intcomma }} {{ listing.buying_currency }}</span>#}
                                            </li>
                                            <li class="list-group-item text-secondary">
{#                                                <i class="fas fa-bed"></i> Fee:#}
{#                                                <span class="float-right">{{ listing.service_fee_buy | intcomma }} {{ listing.buying_currency }}</span>#}
                                            </li>
                                            <li class="list-group-item text-secondary">
                                                {% if user == listing.user %}
                                                    <h5><i class="fas fa-square"></i> You will receive:
                                                    <span class="float-right badge badge-dark badge-pill">{{ listing.buying | intcomma }} {{ listing.buying_currency }}</span></h5>
                                                {% else %}
                                                    <h5><i class="fas fa-square"></i> You will receive:
                                                    <span class="float-right badge badge-dark badge-pill">{{ listing.selling | intcomma }} {{ listing.selling_currency }}</span></h5>
                                                {% endif %}

                                            </li>
                                            <li class="list-group-item text-secondary">
                                                <i class="fas fa-car"></i> Reverse rate:
                                                <span class="float-right">1 {{ listing.buying_currency }} = {{ rate_reverse|floatformat:7|intcomma }} {{ listing.selling_currency }}</span>
                                            </li>
                                            <li class="list-group-item text-secondary">
                                                <i class="fas fa-calendar"></i> Grabbed by:
                                                <span class="float-right">{{ grabbed_by }}</span>
                                            </li>




                                        </ul>
                                    </div>
                                </div>

                                <div class="row mb-5">

                                    <div class="col-md-4 d-flex justify-content-center">

                                        <form action="{% url 'my_buyings' %}" method="POST">
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                {#                                    <input type="hidden" name="user_name" value="{{ user.first_name }}">#}
                                                {#                                    <input type="hidden" name="user_email" value="{{ user.email }}">#}
                                                {#                                    <input type="hidden" name="listing" value="{{ listing }}">#}
                                                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                                {#                                    <input type="hidden" name="listing_owner"#}
                                                {#                                           value="{{ listing.user.first_name }}">#}
                                                {#                                    <input type="hidden" name="listing_owner_email" value="{{ listing.user.email }}">#}
                                            {% else %}
                                                <input type="hidden" name="user_id" value="0">
                                            {% endif %}
                                            {% if grabbed_by %}
                                                <button class="btn btn-danger mb-4" data-toggle="tooltip"
                                                        data-placement="bottom" title="Tooltip on bottom" value="Send">
                                                    Grabbed
                                                </button>
                                            {% else %}
                                                <button class="btn btn-primary mb-4" data-toggle="tooltip"
                                                        data-placement="bottom" title="Tooltip on bottom" value="Send">
                                                    Grab the deal
                                                </button>
                                            {% endif %}

                                        </form>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <a href="{% url 'listings' %}" class="btn btn-primary mb-4" data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="If it is not what you want, you may ask to change the amount but what you ask can't be further than +/-10% of the original amount. ">Ask
                                            for different amount</a>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <a href="{% url 'listings' %}" class="btn btn-primary mb-4">Back To Listings</a>
                                    </div>
                                    </button>

                                </div>

                                <!-- Description -->
                                <div class="row mb-5">
                                    <div class="col-md-12">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse
                                        reiciendis
                                        officia omnis non rerum dicta
                                        cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur
                                        ad
                                        fugit. Possimus culpa
                                        blanditiis repellendus ipsa similique ullam, natus error dolor harum.
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            {#                <div class="col-md-3">#}
            {#                    <div class="card mb-3">#}
            {#                        <img class="card-img-top" src="assets/img/realtors/kyle.jpg" alt="Seller of the month">#}
            {#                        <div class="card-body">#}
            {#                            <h5 class="card-title">Property Realtor</h5>#}
            {#                            <h6 class="text-secondary">Kyle Brown</h6>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An#}
            {#                        Inquiry#}
            {#                    </button>#}
            {#                </div>#}
        </div>
    </section>

    <!-- Inquiry Modal -->
    <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="property_name" class="col-form-label">Property:</label>
                            <input type="text" name="listing" class="form-control" value="45 Drivewood Cirlce" disabled>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="text" name="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Message:</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>
                        <hr>
                        <input type="submit" value="Send" class="btn btn-block btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}